{% extends 'base.html' %}

{% load static %}

{% block content %}
<h1>5 случайных рецептов:</h1>
{% for recipe in recipes %}
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ recipe.image.url }}" class="card-img" alt="{{ recipe.title }}">
    </div>
    <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'recipe_detail' recipe_id=recipe.id %}">{{ recipe.title }}</a></h5>
          <p class="card-text">{{ recipe.description }}</p>
          <p class="card-text"><small class="text-muted">{{ recipe.time }} minutes</small></p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endblock %}